.form-order-service {
  /* position: absolute; */
  top: 0;
  right: auto;
  font-family: inherit;
  color: inherit;
  background-color: #fcfcfc;
  width: 408px;
  height: 584px;
  flex-shrink: 0;
  border: 4px solid rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  margin-left: 500px;
}

.form-container {
  padding: 24px;
}
/* Header form */
.form-header {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: flex-end;
}
/* Close button */
.close-button {
  display: flex;
  width: 26px;
  height: 26px;
  padding: 8px;
  border-radius: 50%;
  background-color: #e7e9fc; /*fill: var(--cornflower, #E7E9FC);*/
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: auto;
  flex-shrink: 0;
  cursor: pointer;
  transition: transform 0.5s ease, background-color 0.5s ease;
  margin-bottom: 24px;
}

.close-icon {
  fill: #2e2f42;
}

.close-icon:hover {
  fill: #f7f4fd;
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
}

.form-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 16px;
}

.form-text {
  font-family: inherit;
  color: #2e2f42; /*var(--navyblue, #2E2F42);*/
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  width: 360px;
}

/* Group of text fields */
.input-fields-set {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  font-size: 16px;
  gap: 8px;
}

.input-label {
  font-family: inherit;
  display: flex;
  flex-direction: column;
  outline: none;
  color: #8e8f99; /*var(--lightslate, #8E8F99);*/
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  width: 100%;
  padding-left: 0;
  gap: 4px;
}

/* Custom input text */
.input-custom {
  font-family: inherit;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  background-color: white;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  gap: 10px;
}

/* Link Text */
.input-link {
  color: #4d5ae5; /* var(--iris, #4D5AE5); */
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
  transition: color 150ms ease-in-out;
  margin-left: 4px;
}

.input-link:focus {
  border: 1px solid #4d5ae5;
}

.input-icon {
  fill: #2e2f42;
}

.input-real {
  outline: none;
  border: none;
  height: 32px;
  width: 320px;
  font-size: 16px;
}

.form-textarea:focus-within {
  border: 1px solid #4d5ae5;
}

.input-custom:focus-within {
  border: 1px solid #4d5ae5;
}

.input-custom:focus-within .input-icon {
  fill: #4d5ae5;
}

.input-icon:hover {
  fill: #4d5ae5;
}

/* Text area */
.form-textarea {
  font-family: inherit;
  font-size: 16px;
  outline: none;
  resize: none;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  height: 120px;
  margin-bottom: 8px;
}

.form-textarea::placeholder {
  color: #8e8f99; /*var(--lightslate, #8E8F99);*/
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

/* Custom checkbox */
.checkbox-container {  
  width: 100%;
}

.checkbox-label {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
  color: #8e8f99; /*var(--lightslate, #8E8F99);*/
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  
}

.checkbox-custom {  
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  background-color: white;
  transition: background-color 250ms ease-in-out;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4); /* var(--navyblue-modal, rgba(46, 47, 66, 0.40)); */
  margin-right: 10px; 
  margin-left: -2px;
  
}

.checkbox-custom-icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.checkbox-real {
  width: 0;
  padding-left: 2px;  
}

.section-test {
  height: 600px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.button-test {
  cursor: pointer;
  background: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  gap: 10px;
  display: inline-flex;
  align-items: flex-start;
  display: block;
  min-width: 169px;
  height: 56px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.checkbox-real:focus + .checkbox-custom {
  border: 1px solid #4d5ae5;
}
.checkbox-real:checked + .checkbox-custom {
  background-color: #404bbf;
  fill: #f7f4fd;
}


.modal-window {
  position: fixed;
  font-family: inherit;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 500ms ease-in;
  z-index: 9999;

  /* opacity: 0;
  pointer-events: none;
  visibility: hidden; */
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.button-test:active + .modal-window {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.close-button:active + .modal-window {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
